/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../compass/window.scss */
html {
  overflow: scroll;
}

/* line 8, ../compass/window.scss */
body, button {
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* line 12, ../compass/window.scss */
.timer {
  width: 220px;
  height: 166px;
  border: 1px solid #5fb3ce;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: lightblue;
  float: left;
  margin: 10px 0 10px 10px;
  text-align: center;
  font-size: 20px;
  position: relative;
  overflow: hidden;
}
/* line 25, ../compass/window.scss */
.timer i {
  margin: 5px;
  font-size: 12px;
}
/* line 30, ../compass/window.scss */
.timer .duration, .timer .remaining, .timer .title {
  margin: 10px;
}
/* line 34, ../compass/window.scss */
.timer .remaining {
  font-size: 48px;
}
/* line 38, ../compass/window.scss */
.timer .controls {
  position: absolute;
  bottom: 10px;
  left: 0px;
  right: 0px;
}
/* line 44, ../compass/window.scss */
.timer .controls button {
  font-size: 16px;
  width: 75px;
}
/* line 50, ../compass/window.scss */
.timer .edit-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  background-color: silver;
  text-align: right;
  font-size: 18px;
  border: 1px solid darkgrey;
}
/* line 61, ../compass/window.scss */
.timer .edit-container .edit-controls {
  margin: 33px 5px;
}
/* line 63, ../compass/window.scss */
.timer .edit-container .edit-controls > div {
  margin-bottom: 20px;
}
/* line 68, ../compass/window.scss */
.timer .edit-container .close {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  border-top: 1px solid darkgrey;
  text-align: center;
  color: darkgrey;
  font-size: 15px;
  padding-top: 4px;
  box-sizing: border-box;
}

/* line 84, ../compass/window.scss */
#message {
  clear: both;
}
